body {
    background: #fefefe;
    color: #222222;
}

/* about us & recruitment page */
.h3_title {
    color: #000000;
}

.paragraph_social_link:link {
    color: #0560e9;
}

.paragraph_social_link:visited {
    color: #0560e9;
}

.paragraph_social_link:hover {
    color: #eada00;
}

.paragraph_mini_title {
    color: #000000;
}

/* contact page */
.contact_list a {
    color: #000000;
}

/* Others */
.bold_text {
    color: #000000;
}